/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #fff;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
	background-color:#7f7f7f;
}
a, a:visited { /* порядок правил для ссылок имеет значение */
	color: red;
	text-decoration: underline;
}
a:hover {
	color: #fdf208;
	text-decoration:none;
}
a:focus, a:active {
	color: #c83867;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/

.main {
    width: 100%;  height: 100vh;
    text-align: center;
    color: #fff;
    background: #000 url(img/main-bg.jpg) center center no-repeat;
	background-size: cover;
}
	.main-overlay {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}
.wrapper {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}.main-header{
}
	.main-header h1 {
		font-size: 3em;
		text-transform: uppercase;
		font-weight: 300;
		padding: 20px 0;
	}
	.main-line {
		width: 200px;
		height: 1px;
		background-color: #fff;
		margin: 0 auto;
	}
	.main-header p{
		font-size:1.875em;
		padding: 20px 0;
	}

.main-down {
    color: #fff;
	position: absolute;
    bottom: 2%;
    display: inline-block;
    font-size: 2em;
    width: 35px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: 0.2s;
}
.main-down:hover, .main-down:visited  {
	color: #fff;
	border-color: #fff;
}



/* Портфолио */
.portfolio-block{
	background-color:#fff;
	margin: 0 auto;
	padding: 6em 0;
}
.portfolio {
    max-width: 1170px;
    margin: 0 auto;
	padding: 0 10px;
}
	.portfolio h2{
		color:rgb(95, 4, 132);;
		font-size:2.25em;
		padding: 20px 0;
		text-transform:uppercase;
		margin-bottom: 100px;
		text-align: center;
	}

	.portfolio-job {
		width: 31%;
		float: left;
		margin-left: 3.5%;
		text-align: center;
	    margin-bottom: 15px;	
	}

	.first-div-pf {
		margin-left: 0;
	}
	.portfolio-job img{
		box-shadow: 0 0 20px rgba(0,0,0,0.8);
	    margin-bottom: 10px;	
	}
	.portfolio-job a {
		font-size: 1.6em;
		color:rgb(95, 4, 132);
		margin-bottom: 10px;
		display: block;
		text-decoration:none;
	}

	.portfolio-job a:hover {
		text-decoration:underline;
	}

/* Подвал */
footer{
	width:100%;
	background-color:#646464;
	padding: 20px 0;
}
.footer-block{
	max-width:1170px;
	margin: 0 auto;
}

.footer-flex{
	display:flex;
    justify-content: space-between;
	text-align:center;
}
.text, .subscribe, .write-me {
    max-width: 360px;
    width: 31%;
}
.footer-all div{
    margin: 25px 0;	
}
.footer-all h2{
	font-size:1.5em;
    margin-bottom: 15px;	
}
.text p{
	font-size:1.375em;
}
.subscribe a{
	font-size:1.5em;
	border: 1px solid white;
	border-radius:30%;
	display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
	padding:10px;
	color:white;
}
.subscribe a:hover{color:#646464; background:#fff;}

.write-me-submit {
    background-color: #646464;
    border: 1px solid #fff;
    border-radius: 2em;
    color: white;
    height: 40px;
    padding: 5px 10px;
	width: 200px;
	cursor: pointer;
}

.write-me-submit:hover{
	color:#646464; background:#fff;
}


/* Подвал */

@media screen and (max-width:800px){
	.portfolio-block{
		padding: 2em 0;
	}
	.portfolio h2{
	}
	
	.first-div-pf {
		margin-left: 0;
	}
	.portfolio-job{
		width: 100%;
		float: none;
		margin: 0 auto;
	}
	.footer-flex {
	    flex-direction: column;	
	}
	.footer-all div{
		max-width: none;
		width:100%;
	}
}